<?xml version="1.0" encoding="UTF-8" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" >
  <?include $(sys.CURRENTDIR)\Config.wxi?>
  <Fragment>
    <FeatureGroup Id="fgRoot" >
      <Feature Id="featAscomDrivers" Title="ASCOM drivers" Level="1" Absent="disallow"
               Display="expand" >
        <!-- 
            The driver references bring in the driver registration actions.
            The drivers themselves are now incorporated in the LocalServer project.
        -->
        <ComponentGroupRef Id="cgAscomSwitchDriver"/>
        <ComponentGroupRef Id="cgAscomCoverCalibratorDriver"/>
        <ComponentGroupRef Id="cgAscomLocalServer"/>
      </Feature>
    </FeatureGroup>
  </Fragment>
</Wix>