<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIRECTORY"/>
    <ComponentGroup Id="cgNodaTime">
      <Component Id="cmpNodaTime" Directory="INSTALLDIRECTORY" Guid="*" Win64="no">
        <File Id="filNodaTimeDll" Source="$(var.Server.TargetDir)NodaTime.dll" Vital="yes"
              KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>