<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIRECTORY"/>
    <ComponentGroup Id="cgSystem" Directory="INSTALLDIRECTORY" >
      <Component Id="cmpSysValueTuple" Guid="*" Win64="no" >
        <File Id="filSysValueTuple"        
              Source="$(var.Server.TargetDir)System.ValueTuple.dll"              
              Vital="yes" 
              KeyPath="yes" />
      </Component>
      <Component Id="cmpSysCompilerServicesUnsafe" Guid="*" Win64="no" >
        <File Id="filSysCompilerServicesUnsafe"        
              Source="$(var.Server.TargetDir)System.Runtime.CompilerServices.Unsafe.dll"              
              Vital="yes" 
              KeyPath="yes" />
      </Component>
      <Component Id="cmpSysThreadingTasksExtensions" Guid="*" Win64="no" >
        <File Id="filSysThreadingTasksExtensions"        
              Source="$(var.Server.TargetDir)System.Threading.Tasks.Extensions.dll"              
              Vital="yes" 
              KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>